body {
  margin:0;
  padding:5px;
  border:5px;
}

.navi {
  overflow: hidden;
  float:right;
  margin-top: 2%
}

.navi a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 25px;
}

.navi a:hover {
  background-color: #4CAF50;
}

.navi a.active {
  background-color: rgb(41, 163, 157);
  color:white;
}
#photo{
  border-radius:50%;
  width: 385px;
  height: 380px;
  object-fit: cover;
  margin-left: 10%;
  float:right;
}
.first{
  background-image: url("http://getwallpapers.com/wallpaper/full/b/9/6/896508-hd-wallpapers-1080p-mac-1920x1080-samsung.jpg");
  background-repeat: no-repeat;
  height:700px;
  background-size: cover;
}
#foot{
  text-align:center;
  background-color:beige;
  font-size: 18px;
  margin-top: 50%;
  width: 99%;
  left: 0;
}
h1{
  text-align: center;
  margin:25px;
}
li{
  font-size:20px;
  color: aliceblue;
}
p{
  font-size: 20px;
  text-align: center;
  margin-top: 30%;
  color: bisque;
}
h2{
  margin:20px;
}
h3{
  margin:20px;
}
h4{
  margin:20px;
}
h5{
  margin:20px;
}
h6{
  margin:20px;
  
}
#image{
  width:400px;
  height:200px;
  float:left;
  margin-top:7%;
  margin-left: 2%;
}
#more{
  background-color:black;
  height:750px;
  padding: 20px;
}