body {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navi {
  overflow: hidden;
  float:right;
  margin-top: 2%
}

.navi a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 25px;
}

.navi a:hover {
  background-color: #4CAF50;
}

.navi a.active {
  background-color: rgb(41, 163, 157);
  color:white;
}
#photo{
  border-radius:50%;
  width: 385px;
  height: 380px;
  object-fit: cover;
  margin-left: 10%;
  float:right;
}
.first{
  background-image: url("http://getwallpapers.com/wallpaper/full/b/9/6/896508-hd-wallpapers-1080p-mac-1920x1080-samsung.jpg");
  background-repeat: no-repeat;
  height:600px;
  background-size: cover;
}
#foot{
  text-align:center;
  background-color:beige;
  font-size: 18px;
  margin-top: 10%;
  width: 100%;
}
h1{
  text-align: center;
  margin:25px;
}
li{
  font-size:20px;
  color: aliceblue;
}
#about{
  font-size: 20px;
  text-align: center;
  margin-top: 30%;
  color: bisque;
}
h2{
  margin:20px;
}
h3{
  margin:20px;
}
h4{
  margin:20px;
}
h5{
  margin:20px;
}
h6{
  margin:20px;
  
}
#image{
  width:400px;
  height:200px;
  float:left;
  margin-top:7%;
  margin-left: 2%;
}
#more{
  background-image: url("https://cdn.dribbble.com/users/158956/screenshots/854660/loading_love_still.gif");
  background-repeat:no-repeat;
  background-size: cover;
  height:750px;
  padding: 20px;
}
#image{
  width:550px;
  height:400px;
}
#art{
  margin-top:10%;
  font-size: 25px;
  color: beige;
}
#proje{
  background-image: url("https://ak2.picdn.net/shutterstock/videos/29439562/thumb/1.jpg");
  height:650px;
  background-repeat:no-repeat;
  background-size: cover;
}
h7{
  text-align: center;
  color: blanchedalmond;
  font-size: 25px;
  bottom:30%;
  line-height:3;
}
#conta{
  background-image: url("https://ak7.picdn.net/shutterstock/videos/27800347/thumb/10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
}
h8{
  font-weight: bold;
  margin-left:40%;
  color:white;
  line-height: 5;
  font-size:30px;
}
h9,h10,h11,h12{
  color:skyblue;
  font-size: 25px;
  margin-left:25%;
}
h9:hover{
  background-color:white;
}
h10:hover{
  background-color:white;
}
h11:hover{
  background-color:white;
}
h12:hover{
  background-color:white;
}
